body{       /*  SELECTOR GLOBAL para todo el body*/
    background: rgb(240, 240, 191);
}

h2{     /*  SELECTOR GLOBAL para todos los títulos h2*/
    color:brown
}

.titulo2{      /* SELECTOR DE CLASE  */
    color:blue
}

#titulo3{   /* ID  */
    color:rgb(145, 18, 145)
}